/*ALL COMMON CSS START  */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.float{
    clear: both;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
    line-height: .8;
}
.mr{
   margin-right: 0 !important;
} 

/* ALL C0MM0N CSS END  */
/* HERADER PART START */
#header{
 position: fixed;
 top:0;
 left:0;
 width: 100%;
 z-index: 2;
} 
.logo{
    float:left;
    width: 270px;
    padding-top: 25px;
}
.menu{
    float:left;
    width: 900px;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    line-height: 120px;
    color:#fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding-left:30px;
    transition: .4s;
}
.menu ul li a:hover{
    color: #c7b299;
}
/* HREADER PART END  */
/* ====BANNER PART START========== */

 #banner{
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 }
 .overly{
    padding: 380px 0;
    background: rgba(17, 17, 17, 0.70);  
} 
.banner_content{
    text-align: center;
}
.banner_content h3{
   color:#fff;
   font-size:36px;
   font-weight: 500;
   font-family:'Raleway', sans-serif; 
 
}
.banner_content h1{
color:#fff;
font-size:52px;
font-weight: 800;
font-family:'Raleway', sans-serif;  
padding-top: 15px;
padding-bottom: 20px;
}
.banner_content p{
color:#fff;
font-size:16px;
font-weight: 300;
font-family:'Montserrat', sans-serif;
padding: 0 286px 50px;
line-height: 24px;

}
.banner_content a{
color:#fff;
font-size:14px;
font-weight: 800;
font-family:'Raleway', sans-serif; 
text-transform: uppercase;
background: #998675;
padding: 21px 37px 18px 37px;
border-radius: 5px;
border-bottom: 3px solid #736357;
}
/* BANNER PART END */

/* SERVICE PART START  */
#service_part{
    padding: 80px 0;
}
.service_item{
    width: 270px;
    margin-right: 30px;
    float: left;
    text-align: center;
}
.service_item i{
    font-size: 50px;
    color:#555555;
    transition: .4s;
}
.service_text h3{
    color:#555555; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-top:30px ;
    padding-bottom: 20px;
    transition: .4s;
}
.service_text p{
    color:#8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    position: relative;
}
.service_text p::after{
    position: absolute;
    height: 3px;
    width: 70px;
    background: #f1eee9;
    content: "";
    bottom: -30%;
    left:50%;
    transform: translateX(-50%);
    transition: .4s;
}
.service_item:hover .service_text p::after{
    background: #c7b299;
}

.service_item:hover .service_icon i{
    color: #c7b299;
}
.service_item:hover .service_text h3{
    color: #c7b299;
}

/* SERVICE PART END */


/* IDEA PART START */
#idea_part{
    padding-top:80px ;
    background: #fbfaf8;
}
.common_text{
    text-align: center;
}
.common_text h3{
    color:#555555; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 20px;
}
.common_text p{
    color:#8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 160px;
    margin-bottom: 30px;
}
.i_img img{
    width: 100%;
    display: block;
}
/* IDEA PART END */

/*  PURCHASE_PART START */
#purchase_part{
    padding: 50px 0;
    background: linear-gradient(to right, #211b19, #4e3427);
}
.purchase_content_left{
    width: 530px;
    float:left;
}
.purchase_content_right{
    width: 170px;
    float:right;
}
.purchase_content_left h3{
    color:#fff;
    font-size:28px;
    font-weight: 400;
    font-family:'Raleway', sans-serif;
    padding-bottom: 10px; 
}
.purchase_content_left spen{
    color:#c7b299;
}
.purchase_content_left p{
    color:#615855;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif; 
}
.purchase_content_right a{
    color:#fff;
   font-size:14px;
   font-weight: 800;
   font-family:'Raleway', sans-serif; 
   text-transform: uppercase;
   background: #988574;
   padding: 20px 28px 17px 28px; 
   border-radius: 5px;
   border-bottom: 3px solid #736357;
}
/*  PURCHASE_PART END */

/* PROJECT_PART STAER   */
#project_part{
    padding: 80px;
    background: #fff;
}
/* ======button=== */

.button_part{
    text-align: center; 
}
.button_part button{
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #ebebeb ;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    transition: .4s;
}

.button_part button:hover{
    background: #998575;  
    border: 1px solid #998575;
    color: #fff;
}
 .portfolio_item_part{
    margin-top: 40px;
} 
.pt_item{
    width: 370px;
    margin-right: 30px;
    float:left;
    margin-bottom: 30px;
}
.pt_item_img{
    position: relative;
}
.pt_item_img a i{
    color:#c7b299;
    position: absolute;
    top:50%;
    left:45%;
    height: 30px;
    width: 30px;

}
.pt_item_img i{
    color:#fff;
    position: absolute;
    top:50%;
    left:55%;
    height: 30px;
    width: 30px;

}
.pt_item_img img{
    width: 100%;
    display: block;
}
.pt_img_overly{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left:0;
   background: rgba(17, 17, 17, 0.70);
   visibility: hidden;
   opacity: 0;
   transition: .4s;
}
.shape{
    height: 30px;
    width: 30px;
    background: #fbf9f7;
    position: absolute;
    bottom:-15px;
    left: 30px;
    transform: rotate(45deg);
    transition: .4s;
}
.pt_item_text{
  padding:30px;
  background: #fbf9f7;
  transition: .4s;
}
.pt_item_text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:#c7b299;

}
.pt_item_text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color:#d5d5d5;
    line-height: 24px;
}
.pt_item :hover .pt_img_overly{
    opacity: 1;
    visibility: visible;
}

.pt_item:hover .pt_item_text{
    background: #352f2d;
}
.pt_item:hover .pt_item_text h3{
    background: #352f2d;
    color:#fff
}
.pt_item:hover .pt_item_text p{
    background: #352f2d;
    color:#c7b299
}

.pt_item :hover .shape{
    background: #352f2d;
}
.load{
    text-align: center;
    padding-top: 40px;
}
.load a{
    color:#fff;
    font-size:14px;
    font-weight: 800;
    font-family:'Raleway', sans-serif; 
    text-transform: uppercase;
    background: #988574;
    padding: 20px 40px 17px 40px; 
    border-radius: 5px;
    border-bottom: 3px solid #736357;
}

/*  PROJECT_PART END   */


/* <!-- VEDIO_PART STAERT  -- */
#vedio_part{
    
    background:url(../img/vdo.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vdo_overly{
    padding: 210px 0 260px 0;
    background:rgba(17, 17, 17, 0.5) ;
}
.vdo_content_icon{
    text-align: center;
}
.vdo_content_icon a i{
    font-size: 50px;
    color:#fff;
    padding-bottom: 40px;

}
.vdo_common_text{
    text-align: center;
}
.vdo_common_text h3{
    color:#fff; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 20px;
}
.vdo_common_text p{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 300px;
    margin-bottom: 30px;
}
/* <!-- VEDIO_PART END  -- */

/* <!-- MOBILE_PART STAERT  -- */
  
  .mob_img img{
    padding-top:75px;
    padding-bottom: 0;
    width: 40%;
    float:left;
  }
  .mob_content_part{
    width: 60%;
    float: left;
  }
  .mob_content{
    text-align: left;
    padding: 190px 0;
  }
  .mob_content h3{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color:#555555;
  }
  .mob_content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#a5a5a4;
    padding-top: 35px;
    padding-bottom: 40px;
    line-height: 24px;
  }
  /* ===== */
  .icon_part{
    padding-left:50px;
  }
  .icon_part ul li{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color:#8c8c8c;
    padding-bottom:15px ;
  }
  .icon_part ul li i{
    color:#c7b299;
    padding-right: 15px;
    font-size: 22px;
  }

/* <!-- MOBILE_PART END  -- */

/* <!-- COUNTER_PART START  -- */
  #counter_part{
   padding: 70px 0;
   background: linear-gradient(to right, #211b19, #4e3427);
   
  }
  .counter{
     display: flex;
     justify-content: space-between;
  }
  .c_content{
    width: 170px;
    padding-left: 70px;
    text-align: center;
  }
   .c_content i{
    color:#9e8b78;
    font-size: 28px;
    
   }
   .c_content h3{
    color:#fff;
    font-family:'Montserrat', sans-serif ;
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
   }
   .c_content p{
    color:#c7b299;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
   }
   .c_content p::after{
    position: absolute;
    height: 3px;
    width: 50px;
    background: #fff;
    content: "";
    bottom: -350%;
    left:50%;
    transform: translateX(-50%);
    transition: .4s;
   }
/* <!--  COUNTER_PART END  -- */










/* <!-- VEDIO_PART STAERT  -- */
/* <!-- VEDIO_PART END  -- */
/* <!-- VEDIO_PART STAERT  -- */
/* <!-- VEDIO_PART END  -- */

[]